<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823201726883-13a8g803po5rechb05khur9809nbkbnf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823201726883-13a8g803po5rechb05khur9809nbkbnf</string>
	<key>API_KEY</key>
	<string>AIzaSyCyU31hf4i9ZusZwhjWGyhcPsSWg0MG4F0</string>
	<key>GCM_SENDER_ID</key>
	<string>823201726883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newapp</string>
	<key>PROJECT_ID</key>
	<string>hungernomore-2073b</string>
	<key>STORAGE_BUCKET</key>
	<string>hungernomore-2073b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823201726883:ios:2950b5ff4ee280d7bd5a16</string>
	<key>DATABASE_URL</key>
	<string>https://hungernomore-2073b.firebaseio.com</string>
</dict>
</plist>